doctype 5
html
  include ../includes/head
  body
    .container-fluid
      .row-fluid
        include ../includes/sidebar
        - while (hasPost())
          - thePost()
          form.span10(method="POST", action="")
            .row-fluid
              h1= title
            .row-fluid
              .span9
                h2 Title
                input.input-block-level(name="title", placeholder="Today is awesome", value=post.title)
                h2 Content
                input(type="hidden", name="content")= post.content
                #editor(style="width: 100%; height: 400px; position: relative; border: 1px solid #999;")
                #preview
              .span3
                p Metadata and stuff
                input(type="hidden", name="id", value=post._id)
                button.btn(type="submit") #{post._id ? 'Update post' : 'Save post'}
    include ../includes/footer
