doctype 5
html
  head
    title Sitename
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    != cachify_css('/files/dist/presspress.min.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") Sitename
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Home
            form.navbar-form.pull-right(method="POST", action="/admin/login?redirect=%2f")
              input.span2(type="text", name="email", placeholder="Email")
              input.span2(type="password", name="password", placeholder="Password")
              button.btn(type="submit") Sign in
    .container
      - if (hasPost())
        - thePost()
        section.hero-unit
          header
            h1= post.title
            p Author: #{post.author.name.full}
            p Written: #{post.created('Y-m-d')}
          article
            p= post.content
          footer
            p
              a.btn.btn-primary.btn-large Read more »
        - while (hasPost())
          - thePost()
            .row
              .span4
                h2= post.title
                p= post.content
                p
                  a.btn(href='#') View details »
    hr
    footer
      .container
        p Something nice
    script(src="http://code.jquery.com/jquery-1.9.0.min.js")
    != cachify_js('/files/dist/presspress.min.js')
